{% extends 'control/base.html' %}
{% load i18n %}
{% block content %}
        <h1>{% trans 'Blogs' %}</h1>
<!DOCTYPE html>
<html lang="en">

<body>
    {% if user.is_authenticated %}

        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{% url 'blog_create'  %}" class="btn btn-outline-success">
                        <i class="bi bi-plus-lg"></i> {% trans 'Create Blog' %}
                    </a>
                    <h2 class="mt-4">{% trans 'Blogs' %}</h2>
                    <ul class="list-group">
                        {% for blog in blogs %}
                        <li class="list-group-item">
                            <a href="{% url 'blog_view' blog.id %}" style="color: purple; text-decoration: none; font-weight: bold;">
                                {% trans 'Blog: ' %}: {{ blog.title }}
                            </a>
                            {% if user == blog.user %}
                            <div class="btn-group float-end">
                                <a href="{% url 'blog_update' blog.id %}" class="btn btn-sm btn-outline-dark mx-1">{% trans 'edit' %}</a>
                                <a href="{% url 'blog_delete' blog.id %}" class="btn btn-sm btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </li>
                        {% endif %}
                        {% empty %}
                        <li class="list-group-item">{% trans 'Sorry, There Are No Blogs To Display ' %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
</body>
   {% else %}
      <div class="alert alert-info mt-4">
          {% trans 'Please log in or create an account to view the page' %}
      </div>
      {% endif %}
</html>
{% endblock %}