{% extends 'control/base.html' %}
{% load i18n %}
{% block content %}
        {% if user.is_authenticated %}

     <h1>{% trans 'payment page' %}</h1>
    <section class="payment-form-container">

        <div class="payment-form-header">
           <div class="container my-5">
        <div class="row bd-highlight">
          <div class="col-md-12">
            <h4 class="my-3 text-left">
              <div class="alert alert-success py-3">
                <h1 class="payment-form-title" style="color: brown;">{% trans 'Course registration information : ' %}</h1>
                  <h3 class="payment-form-card-title">{% trans 'name : ' %}</h3>
                            <p class="payment-form-card-text">{{ user.username }}</p>
                      <h3 class="payment-form-card-title">{% trans 'email : ' %}</h3>
                            <p class="payment-form-card-text">{{ user.email }}</p>


        <div class="payment-form-header">
            <h1 class="payment-form-title" style="color: brown;">{% trans 'payment information : ' %}</h1>
        </div>
        <div class="payment-form-body">
            <div class="col-12">
                <div class="payment-form-card">
                    <h3 class="payment-form-card-title">{% trans 'course name : ' %}</h3>
                    <p class="payment-form-card-text">{{ course.title }}</p>
                    <h3 class="payment-form-card-title">{% trans 'course price : ' %}</h3>
                    <p class="payment-form-card-text">${{ course.price }}</p>
                    <form action="{% url 'create-checkout-session' course.id %}" method="POST" style="margin-top: 20px;">
                        {% csrf_token %}
                        <button type="submit" class="payment-form-submit-btn">{% trans 'Subscribe' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% else %}
      <div class="alert alert-info mt-4">
          {% trans 'Please log in or create an account to view the page' %}
      </div>
   {% endif %}

{% endblock %}