{% extends 'control/base.html' %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% trans 'Course Details' %}</title>
    <meta charset="UTF-8">
    <style>
        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">

                <h1>{% trans 'title : ' %}{{ course.title }}</h1>
                <h2>{% trans 'description : ' %}{{ course.description }}</h2>
                <h2>{% trans 'price : ' %}{{ course.price }}</h2>

            {% if course.id in subscriber %}
              <button class="btn btn-success" disabled>{% trans 'Subscribed' %}</button>
            {% else %}
              <a href="{% url 'checkout' course.id %}" class="btn btn-primary">{% trans 'Subscribe' %}</a>
            {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}