{% extends 'control/base.html' %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <div class="row">
            <div class="col">

                <h1>{% trans 'title : ' %}{{ course.title }}</h1>
                <h2>{% trans 'description : ' %} {{ course.description }}</h2>
                <h2>{% trans 'price : ' %}{{ course.price }}</h2>

            {% if course.id in subscriber %}
              <button class="btn btn-success" disabled>{% trans 'Subscribed' %}</button>
            {% else %}
              <a href="{% url 'checkout' course.id %}" class="btn btn-primary">{% trans 'Subscribe' %}</a>
            {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}