{% extends 'control/base.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    {% for course in courses %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ course.image.url }}" class="img-thumbnail" alt="...">
        <div class="card-body">
          <a href="{% url 'course_view' course.id %}" style="color: purple; text-decoration: none; font-weight: bold;">
            {% trans 'Course: ' %}: {{ course.title }}
          </a>
          <p class="card-text">{% trans 'Price: ' %} ${{ course.price }}</p>
          <div class="d-grid gap-2">
            {% if course.id in subscriber %}
              <button class="btn btn-success" disabled>{% trans 'Subscribed' %}</button>
            {% else %}
              <a href="{% url 'checkout' course.id %}" class="btn btn-primary">{% trans 'Subscribe' %}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}